/* header */

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    margin-top: 7rem;
    background-color: #FFA84C;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    z-index: 1;
  }
  
  .profile {
    margin-bottom: 0;
  }
  
  .name {
    margin: auto;
  }
  