/* tweet style*/

.tweet {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    border: solid #000;
    border-radius: 5px;
  }

  article.tweet:hover{
    box-shadow: 10px 10px #AEB1CC;
  }