/* tweet style*/

.tweet {
    display: flex;
    flex-direction: column;
    margin-top: 1.5em;
    border: solid #000;
    border-radius: 5px;
  }
  
  article.tweet:hover {
    box-shadow: 10px 10px #AEB1CC;       
  }
   
  .tweet div {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    height: 4em;
  }
  
  .tweet div h3 {
    display: flex;
    align-items: center;
    padding-right: 1em;
  }
  
  .userID {
    color: #AFAFAF;
    visibility: hidden;
  }
  
  article.tweet:hover .userID {
    visibility: visible;
  }
  
  .tweet p {
    align-self: center;
    width: 95%;
    padding: 0.5em;
    margin: 0em;
    border-bottom: solid;
  }
  
  .tweet footer {
    display: flex;
    justify-content: space-between;
    height: 3em;
  }
  
  /* social icons => class attributes */
  .fas {
    padding-left: 0.5em;   
    color: #4056A1; 
  }
  /* applies to toggle new tweet button on nav */
  .fa-angle-double-down {
    color: #FF0000;
  }
  .fa-angle-double-down:hover {
    color: orange;
    padding-top: 0.5em;
  }
  /* Manage hover state for social icons: change colour when user hovers on icon */
  .fa-flag:hover {
    color: orange;
  }
  .fa-retweet:hover {
    color: orange;
  }
  .fa-heart:hover {
    color: orange;
  }